@use 'variables' as v;
@use 'mixins' as m;

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}

	80% {
		transform: translateX(1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	80% {
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes bounce {
	0% {
		transform: scale(1, 1) translateY(0);
	}
	10% {
		transform: scale(1.1, 0.9) translateY(0);
	}
	30% {
		transform: scale(0.9, 1.1) translateY(-2rem);
	}
	50% {
		transform: scale(1.05, 0.95) translateY(0);
	}
	57% {
		transform: scale(1, 1) translateY(-2px);
	}
	64% {
		transform: scale(1, 1) translateY(0);
	}
	100% {
		transform: scale(1, 1) translateY(0);
	}
}

@keyframes teamBoxLeft {
	0% {
		transform: translateX(-100rem) rotate(320deg);
		opacity: 0;
	}

	100% {
		transform: translateX(0rem) rotate(0);
		opacity: 1;
	}
}

@keyframes teamBoxRight {
	0% {
		transform: translateX(100rem) rotate(320deg);
		opacity: 0;
	}

	100% {
		transform: translateX(0rem);
		opacity: 1;
	}
}

@keyframes arrowUp {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-1rem);
	}
}

@keyframes arrowDown {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(1rem);
	}
}

@keyframes tourHeading {
	0% {
		transform: translateY(-100rem);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes tourSubheading {
	0% {
		transform: translateX(-100rem);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes rubberBand {
	0% {
		transform: scale3d(1, 1, 1);
	}
	30% {
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		transform: scale3d(1.05, 0.95, 1);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

.fadeInLeft {
	animation-name: fadeInLeft;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
