@use 'variables' as v;
@use 'mixins' as m;

html {
	font-size: 62.5%;
}

body {
	font-family: v.$primaryFont;
	font-size: 1.6rem;
	font-weight: 300;
	color: v.$white;
	background: linear-gradient(to bottom, v.$black, v.$black),
		url(../images/mainBg.jpg);
	background-repeat: repeat, no-repeat;
	background-size: cover, cover;
	background-position: center top, center bottom;
	background-attachment: fixed;
	background-color: v.$black;
	position: relative;
}

.landing {
	overflow: hidden;
}

.containerVh {
	max-width: 180rem;
	width: 95%;
	min-height: 100vh;
	margin-inline: auto;
	display: grid;
	place-items: center;
	overflow-x: hidden;
}

.container {
	max-width: 180rem;
	width: 95%;
	margin-inline: auto;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	@include m.tablet {
		font-size: 1.3rem;
	}
	@include m.desktopxl {
		font-size: 1.7rem;
	}
}

h1,
h2 {
	text-transform: uppercase;
}

h1 {
	font-size: 2.5rem;
	font-weight: 600;
	letter-spacing: 0.8rem;
	@include m.tablet {
		font-size: 3.6rem;
	}

	@include m.desktopxl {
		font-size: 4.8rem;
	}
}

h2 {
	font-weight: 300;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	line-height: 2.5;

	@include m.tablet {
		font-size: 1.3rem;
	}

	@include m.desktopxl {
		font-size: 1.7rem;
		letter-spacing: 0.4rem;
	}
}

.f-600 {
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 0.7rem;
	@include m.tablet {
		font-size: 2.4rem;
		letter-spacing: 0.8rem;
	}
	@include m.desktop {
		font-size: 3.2rem;
		letter-spacing: 1rem;
	}
}

.fs-500 {
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 0.4rem;
	@include m.tablet {
		font-size: 2.2rem;
	}
	@include m.desktopxl {
		font-size: 2.5rem;
	}
}

p {
	font-size: 1.4rem;
	@include m.tablet {
		font-size: 1.6rem;
	}
	@include m.desktop {
		font-size: 2rem;
	}
}
