@use 'variables' as v;
@use 'mixins' as m;

html {
	font-size: 62.5%;
}

body {
	font-family: v.$primaryFont;
	font-size: 1.4rem;
	@include m.tablet {
		font-size: 1.6rem;
	}
	font-weight: 300;
	color: v.$white;
	background: linear-gradient(to bottom, v.$black, v.$black),
		url(../images/mainBg.jpg);
	background-repeat: repeat, no-repeat;
	background-size: cover, cover;
	background-position: center top, center bottom;
	background-attachment: fixed;
	background-color: v.$black;
	position: relative;
}

.landing {
	overflow: hidden;
}

.container {
	max-width: 180rem;
	width: 95%;
	margin-inline: auto;
}

.container-vh {
	max-width: 180rem;
	width: 95%;
	min-height: 100vh;
	margin-inline: auto;
	display: grid;
	place-items: center;
	overflow-x: hidden;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	@include m.tablet {
		font-size: 1.3rem;
	}
	@include m.desktopxl {
		font-size: 1.7rem;
	}
}
