@use '../base/variables' as v;
@use '../base/mixins' as m;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

h1 {
	font-size: 2.5rem;
	font-weight: 600;
	letter-spacing: 0.8rem;
	@include m.tablet {
		font-size: 3.6rem;
	}

	@include m.desktopxl {
		font-size: 4.8rem;
	}
}

h2 {
	font-weight: 300;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	line-height: 2.5;

	@include m.tablet {
		font-size: 1.3rem;
	}

	@include m.desktopxl {
		font-size: 1.7rem;
		letter-spacing: 0.4rem;
	}
}

.f-600 {
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 0.7rem;
	@include m.tablet {
		font-size: 2.4rem;
		letter-spacing: 0.8rem;
	}
	@include m.desktop {
		font-size: 3.2rem;
		letter-spacing: 1rem;
	}
}

.fs-500 {
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 0.4rem;
	@include m.tablet {
		font-size: 2.2rem;
	}
	@include m.desktopxl {
		font-size: 2.5rem;
	}
}

p {
	font-size: 1.4rem;
	@include m.tablet {
		font-size: 1.6rem;
	}
}
