@use '../base/variables' as v;
@use '../base/mixins' as m;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

h1 {
	font-size: 2.5rem;
	font-weight: 600;
	letter-spacing: 0.8rem;
	@include m.tablet {
		font-size: 3.6rem;
	}

	@include m.desktopxl {
		font-size: 4.8rem;
	}
}

h2 {
	font-weight: 300;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	line-height: 1.5;

	@include m.tablet {
		font-size: 1.3rem;
	}

	@include m.desktopxl {
		font-size: 1.7rem;
		letter-spacing: 0.4rem;
	}
}

.fs-600 {
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 0.7rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
	white-space: nowrap;
	position: relative;
	@include m.tablet {
		font-size: 2.4rem;
		letter-spacing: 0.8rem;
	}
	@include m.desktop {
		font-size: 3.2rem;
	}

	&:before {
		position: absolute;
		content: '';
		width: 98%;
		height: 2px;
		background-color: v.$white;
		left: 0;
		bottom: 0rem;
	}
}

.fs-5 {
	font-weight: 600;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	line-height: 1.5;

	@include m.tablet {
		font-size: 1.3rem;
	}

	@include m.desktopxl {
		font-size: 1.7rem;
		letter-spacing: 0.4rem;
	}
}

.fs-4 {
	font-weight: 600;
	font-size: 1.6rem;
	letter-spacing: 0.2rem;
	line-height: 1.5;
	text-transform: uppercase;

	@include m.tablet {
		font-size: 1.8rem;
	}

	@include m.desktopxl {
		font-size: 2rem;
		letter-spacing: 0.4rem;
	}
}
