// Colors
$black: rgba(0, 0, 0, 0.5);
$white: rgb(255, 255, 255);
$blackT: rgba(0, 0, 0, 0.3);
$primaryColor: rgb(51, 51, 51);
$whiteGlass: rgba(255, 255, 255, 0.1);
$redColor: rgb(227, 27, 35);
$fb: rgb(78, 113, 186);
$twitter: rgb(0, 172, 238);
$ig: rgb(193, 53, 132);
$yt: rgb(222, 9, 36);

$mainShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// Media queries
$xsmall: 320px;
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1400px;

// Typography
$primaryFont: 'Source Sans Pro', sans-serif;

///////////// MAPA /////////////////////
$landingText: (
	'transform': uppercase,
	'align': center,
	'color': $white,
);
