// Colors
$black: rgba(0, 0, 0, 0.5);
$white: hsl(0, 0%, 100%);
$blackT: rgba(0, 0, 0, 0.3);
$primaryColor: #333;
$whiteGlass: rgba(255, 255, 255, 0.1);

// Media queries
$xsmall: 320px;
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1400px;

// Typography
$primaryFont: 'Source Sans Pro', sans-serif;

///////////// MAPA /////////////////////
$landingText: (
	'transform': uppercase,
	'align': center,
	'color': $white,
);
