@use '../base/variables' as v;
@use '../base/mixins' as m;
@use '../base/typography';

.calendar {
	@include m.grid(1, 4rem);
	place-items: center;

	&__top {
		@include m.flexCenter(column);
		text-transform: uppercase;
		text-align: center;
	}

	&__text {
		@extend .fs-600;
		white-space: normal;
		&:before {
			width: 0;
		}
	}

	&__season {
		transition: all 0.6s cubic-bezier(0.37, 0, 0.63, 1);
		cursor: pointer;
		&-2 {
			cursor: pointer;
		}
	}

	&__season:hover &__arrowup {
		animation: arrowUp 1s infinite;
	}

	&__season-2:hover &__arrowdown {
		animation: arrowUp 1s infinite;
	}

	&__box {
		@include m.flexCenter(row);
		flex-wrap: wrap;
		gap: 2rem;
		@include m.tablet {
			gap: 4rem;
		}
	}

	&__month {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		background-color: v.$whiteGlass;
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		position: relative;
		transition: all 250ms cubic-bezier(0.28, 0.84, 0.42, 1);

		&:hover {
			animation: bounce 1s infinite;
		}

		@include m.desktop {
			width: 8rem;
			height: 8rem;
		}
	}
}
