@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer {
	background-color: v.$whiteGlass;
	padding-top: 5rem;
	overflow: hidden;

	&__grid {
		@include m.grid(1, 4rem);
		place-items: center;

		@media (min-width: 450px) {
			@include m.grid(2, 4rem);
		}

		@include m.tablet {
			@include m.grid(3, 4rem);
		}

		@include m.desktop {
			@include m.grid(5, 4rem);
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 1rem;
		height: 100%;
		text-align: center;
		width: 20rem;
		@media (min-width: 450px) {
			text-align: left;
		}

		@include m.desktop {
			width: auto;
		}
	}

	&__header {
		width: 100%;
		font-weight: 600;
		text-transform: uppercase;
		white-space: nowrap;
	}

	&__socials {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		width: 100%;
		@media (min-width: 450px) {
			justify-content: flex-start;
		}
	}

	&__icon {
		width: 1.6rem;
		height: 1.6rem;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		&::after {
			position: absolute;
			content: '';
			width: 3rem;
			height: 3rem;
			border: v.$whiteGlass 1px solid;
			border-radius: 50%;
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		}
	}

	&__link {
		color: v.$white;
		text-decoration: none;
		position: relative;

		@media (min-width: 450px) {
			align-self: flex-start;
		}

		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			background-color: v.$white;
			left: 0;
			bottom: 0;
		}
	}

	&__attribution {
		margin-top: 4rem;
		padding-top: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__copyright {
		background-color: v.$black;
		text-align: center;
		font-size: 1.4rem;
		padding: 1rem 2rem;
		border-radius: 0.5rem 0.5em 0 0;
	}
}
