@use '../base/variables' as v;
@use '../base/mixins' as m;

.contacto {
	display: grid;
	place-items: center;
	overflow-x: hidden;
	background-color: v.$black;

	&__bg {
		min-height: 100vh;
		width: 100%;
		background: linear-gradient(to bottom, v.$black, v.$black),
			url(../images/contactoBg.jpg);
		background-repeat: no-repeat;
		background-size: cover, cover;
		background-attachment: fixed;
		background-position: center center, center center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__header {
		text-align: center;
	}
}

.form {
	margin: 5rem 0;
	@include m.desktop {
		margin: 10rem 0;
	}
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 50rem;
	gap: 4rem;
	background-color: v.$black;
	border-radius: 0.4rem;
	padding: 5rem;
	backdrop-filter: blur(5px);
	overflow-x: hidden;

	@include m.tablet {
		max-width: 70rem;
	}

	&__heading {
		align-self: flex-start;
		border-bottom: 1px solid v.$white;
	}

	&__field {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		&:nth-of-type(1) {
			@include m.tablet {
				flex-direction: row;
				gap: 2rem;
			}
		}
		&:nth-of-type(3) {
			@include m.tablet {
				flex-direction: row;
				align-items: center;
				gap: 2rem;
			}
		}
	}

	&__field > div {
		width: 100%;
	}

	&__label {
		text-transform: uppercase;
		font-size: 1.2rem;
		letter-spacing: 0.2rem;
		@include m.tablet {
			font-size: 1.3rem;
		}
		@include m.desktop {
			font-size: 1.7rem;
		}
	}

	&__input {
		border-radius: 0.4rem;
		border: none;
		padding: 1rem;
		font-size: 1.2rem;
		background-color: transparent;
		border: 1px v.$white solid;
		color: v.$white;
		width: 100%;
		&:focus {
			outline: none;
			background-color: v.$whiteGlass;
		}
		@include m.tablet {
			font-size: 1.3rem;
		}
		@include m.desktop {
			font-size: 1.7rem;
		}
	}

	&__tarea {
		font-size: 1.2rem;
		background-color: transparent;
		border: 1px v.$white solid;
		border-radius: 0.4rem;
		color: v.$white;
		&:focus {
			outline: none;
			background-color: v.$whiteGlass;
		}
		@include m.tablet {
			font-size: 1.3rem;
		}
		@include m.desktop {
			font-size: 1.7rem;
		}
	}

	&__submit {
		@include m.btn(v.$primaryColor, v.$white);
		border: none;
		&:focus {
			outline: none;
		}
		@include m.tablet {
			font-size: 1.3rem;
			width: 35%;
		}
		@include m.desktop {
			font-size: 1.7rem;
		}
	}

	&__reset {
		@include m.btn(v.$white, v.$white);
		background-color: transparent;
		border: 1px solid v.$white;
		margin-top: 1rem;
		font-size: 300;
		transition: all 250ms ease;
		@include m.tablet {
			font-size: 1.3rem;
			margin-top: 0;
			width: 20%;
		}
		@include m.desktop {
			font-size: 1.7rem;
		}

		&:focus {
			outline: none;
		}

		&:hover {
			background-color: v.$whiteGlass;
		}
	}
}
