@use '../base/variables' as v;
@use '../base/mixins' as m;

.galeria {
	display: grid;
	place-items: center;
	overflow-x: hidden;

	&__grid {
		min-height: 100vh;
		@include m.grid(1, 1rem);

		@media (min-width: 450px) {
			@include m.grid(2, 1rem);
		}

		@include m.tablet {
			@include m.grid(3, 1rem);
		}
		@include m.desktop {
			@include m.grid(5, 1rem);
		}
	}

	&__box {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		&:nth-child(1) {
			grid-column: 1/2;
			align-self: start;
			justify-self: start;
			padding: 0 1rem;

			@media (min-width: 450px) {
				grid-column: 1/3;
			}

			@include m.tablet {
				grid-column: 1/4;
			}

			@include m.desktop {
				grid-column: 1/6;
			}
		}

		@include m.desktop {
			&:nth-child(2) {
				grid-row: 2/4;
				grid-column: 1/2;
			}

			&:nth-child(4) {
				grid-row: 5/7;
				grid-column: 1/2;
			}

			&:nth-child(7) {
				grid-row: 2/4;
				grid-column: 5/6;
			}

			&:nth-child(19) {
				grid-row: 5/7;
				grid-column: 5/6;
			}
		}
	}

	&__box:nth-child(11) &__img {
		object-position: bottom;
	}

	&__box:nth-child(13) &__img {
		object-position: bottom;
	}

	&__heading {
		align-self: start;
		justify-self: start;
		position: relative;
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			background-color: v.$white;
			bottom: 1rem;
			left: 0;
		}
	}

	&__img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		aspect-ratio: 1/1;
		transition: all 250ms ease-in-out;
		object-position: center;
	}

	&__box:hover &__img {
		transform: scale(1.1);
	}

	&__overlay {
		z-index: 300;
		position: absolute;
		width: 95%;
		height: 95%;
		border: 1px solid transparent;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		background-color: v.$black;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		transform: scale(0);
		transition: all 250ms ease-in;
	}

	&__box:hover &__overlay {
		transform: scale(1);
	}

	&__header {
		text-align: center;
	}

	&__box:hover &__header {
		animation: rubberBand;
		animation-duration: 1s;
		animation-fill-mode: both;
	}

	&__socials {
		padding: 1rem;
		position: absolute;
		bottom: 0;
		right: 0;
	}

	&__share {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		cursor: pointer;
		font-size: 1.4rem;
		@include m.desktop {
			flex-direction: column;
		}
	}

	&__cta {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	&__heart {
		cursor: pointer;
	}

	&__text,
	&__text2 {
		font-size: 1.2rem;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	&__text2 {
		display: none;
	}

	// ACCION LIKE

	#like {
		display: none;
	}

	#like:checked ~ &__label &__heart {
		color: rgb(227, 27, 35);
	}

	#like:checked ~ &__text {
		display: none;
	}

	#like:checked ~ &__text2 {
		display: block;
	}
	///galeria box 2

	#like2 {
		display: none;
	}

	#like2:checked ~ &__label &__heart {
		color: rgb(227, 27, 35);
	}

	#like2:checked ~ &__text {
		display: none;
	}

	#like2:checked ~ &__text2 {
		display: block;
	}
	///galeria box 3

	#like3 {
		display: none;
	}

	#like3:checked ~ &__label &__heart {
		color: rgb(227, 27, 35);
	}

	#like3:checked ~ &__text {
		display: none;
	}

	#like3:checked ~ &__text2 {
		display: block;
	}

	///galeria box 4

	#like4 {
		display: none;
	}

	#like4:checked ~ &__label &__heart {
		color: rgb(227, 27, 35);
	}

	#like4:checked ~ &__text {
		display: none;
	}

	#like4:checked ~ &__text2 {
		display: block;
	}
	///galeria box 5

	#like5 {
		display: none;
	}

	#like5:checked ~ &__label &__heart {
		color: rgb(227, 27, 35);
	}

	#like5:checked ~ &__text {
		display: none;
	}

	#like5:checked ~ &__text2 {
		display: block;
	}
	///galeria box 6
}
