@use '../base/variables' as v;
@use '../base/mixins' as m;

.nosotros {
	overflow-x: hidden;

	&__bg {
		min-height: 100vh;
		width: 100%;
		background: linear-gradient(to bottom, v.$black, v.$black),
			url(../images/nosotrosBg.jpg);
		background-size: cover, cover;
		background-repeat: no-repeat;
		background-position: center center, center center;
		background-attachment: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		text-align: center;
	}

	&__heading {
		text-transform: uppercase;
		animation: tourHeading 1s cubic-bezier(0.76, 0, 0.24, 1);
	}

	&__subheading {
		animation: tourSubheading 1s cubic-bezier(0.76, 0, 0.24, 1);
	}

	&__content {
		max-width: 100rem;
		display: grid;
	}

	&__title {
		align-self: start;
		justify-self: start;
		border-bottom: 1px v.$white solid;
	}

	&__text {
		margin-top: 2rem;
	}

	&__grid {
		display: grid;
		place-items: center;
		padding: 5rem 0;
		gap: 10rem;
		@include m.desktop {
			padding: 10rem 0;
		}
	}
}
