@use '../base/variables' as v;
@use '../base/mixins' as m;

.nosotros {
	overflow-x: hidden;

	&__content {
		max-width: 100rem;
		display: grid;
	}

	&__title {
		align-self: start;
		justify-self: start;
		border-bottom: 1px v.$white solid;
	}

	&__text {
		margin-top: 2rem;
	}

	&__grid {
		display: grid;
		place-items: center;
		padding: 5rem 0;
		gap: 10rem;
		@include m.desktop {
			padding: 10rem 0;
		}
	}
}
