@use '../base/variables' as v;
@use '../base/mixins' as m;
@use '../base/typography';

.nosotros {
	overflow-x: hidden;

	&__content {
		max-width: 100rem;
		display: grid;
	}

	&__title {
		@extend .fs-600;
		align-self: start;
		justify-self: start;
	}

	&__text {
		@include m.desktop {
			font-size: 1.8rem;
		}
		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}

	&__grid {
		display: grid;
		place-items: center;
		gap: 4rem;
		padding: 5rem 0;
		@include m.tablet {
			padding: 10rem 0;
			gap: 10rem;
		}
		@include m.desktop {
			padding: 15rem 0;
			gap: 15rem;
		}
	}
}
