@use '../base/variables' as v;
@use '../base/mixins' as m;

.tour {
	overflow-x: hidden;
	&__bg {
		min-height: 100vh;
		background: linear-gradient(to bottom, v.$black, v.$black),
			url(../images/tourBg.jpg);
		background-size: cover, cover;
		background-position: center center, center;
		background-attachment: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__header {
		text-align: center;
	}

	&__heading {
		animation: tourHeading 1s cubic-bezier(0.76, 0, 0.24, 1);
	}

	&__subheading {
		animation: tourSubheading 1s cubic-bezier(0.76, 0, 0.24, 1);
	}

	&__grid {
		padding: 5rem 0;
		@include m.desktop {
			padding: 20rem 0;
		}
		min-height: 100vh;
		background-size: cover;
		display: grid;
		place-items: center;
		gap: 5rem;
		@include m.tablet {
			gap: 10rem;
		}

		@include m.desktop {
			margin-top: 0rem;
		}
	}
}

////////////////////////////// FEATURES ////////////////////////////////////////////

.features {
	width: 100%;
	@include m.grid(1, 2rem);

	@media (min-width: 450px) {
		@include m.grid(2, 2rem);
	}

	@include m.tablet {
		@include m.grid(2, 4rem);
	}

	@include m.desktop {
		@include m.grid(2, 4rem);
	}

	@include m.desktopxl {
		@include m.grid(4, 4rem);
	}

	&__box {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		background-image: linear-gradient(to bottom, v.$black, v.$black),
			url(../images/season/winter.jpg);
		min-height: 25rem;
		background-size: cover cover;
		background-position: center center, center bottom;
		background-repeat: no-repeat;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		text-align: center;
		position: relative;
		transition: all 250ms ease;
		cursor: pointer;
		&:hover {
			transform: scale(1.03);
			filter: saturate(2) brightness(1.3);
		}

		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 3px;
			background-color: v.$white;
			top: 0;
			left: 0;
		}

		@include m.desktop {
			min-height: 30rem;
		}

		&:nth-child(2) {
			background-image: linear-gradient(to bottom, v.$black, v.$black),
				url(../images/season/spring.jpg);
			background-position: center center, center;
		}

		&:nth-child(3) {
			background-image: linear-gradient(to bottom, v.$black, v.$black),
				url(../images/season/summer.jpg);
			background-position: center center, center;
		}

		&:nth-child(4) {
			background-image: linear-gradient(to bottom, v.$black, v.$black),
				url(../images/season/autumn.jpg);
			background-position: center center, center bottom;
		}
	}

	&__heading {
		line-height: 1.5;
	}

	&__link {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		text-decoration: none;
		color: v.$white;
		padding: 1rem 2rem;
		border-radius: 100rem;
		text-transform: uppercase;
		background-color: v.$black;
		transition: background-color 250ms ease-in;

		&:hover {
			background-color: v.$whiteGlass;
		}
	}
}

////////////////////// TOP TOURS ///////////////////////////
.popular {
	@include m.desktop {
		padding-top: 10rem;
	}
	width: 100%;
	max-width: 140rem;

	&__header {
		padding: 5rem 0;
		text-align: center;
	}

	&__heading {
	}

	&__grid {
		@include m.grid(1, 4rem);
		place-items: center;

		@include m.tablet {
			@include m.grid(2, 4rem);
		}

		@include m.desktop {
			@include m.grid(3, 4rem);
		}
	}

	&__card {
		background-color: v.$whiteGlass;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2rem;
		max-width: 45rem;
		overflow: hidden;
		height: 100%;
		cursor: pointer;

		@include m.tablet {
			max-width: 37rem;
		}

		@include m.desktop {
			max-width: 45rem;
		}
	}

	&__top {
		position: relative;
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			background-color: v.$black;
			transition: all 250ms ease-in-out;
		}
	}

	&__card:hover &__top::before {
		background-color: transparent;
	}

	&__keys {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	&__keys > p {
		padding: 0 1rem;
		border: 1px solid v.$white;
		border-radius: 100rem;
		font-size: 1rem;
		width: fit-content;
		white-space: nowrap;
		text-transform: uppercase;
		font-weight: 600;
	}

	&__img {
		object-fit: cover;
		object-position: bottom;
		aspect-ratio: 2/1;
		width: 100%;
		height: 20rem;
	}

	&__bottom {
		height: 100%;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2rem;
	}

	&__box1,
	&__box2 {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__name {
		font-size: 2rem;
		text-transform: uppercase;
	}

	&__description {
		font-weight: 400;
	}

	p > i {
		margin-right: 1.5rem;
		font-size: 1.4rem;
		width: 1rem;
		height: 1rem;
	}

	&__price {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 1rem;
		justify-content: space-between;

		span {
			font-size: 2.5rem;
			font-weight: 600;
			position: relative;
			z-index: 1;
			&::before {
				content: '';
				position: absolute;
				width: 150%;
				height: 120%;
				background-color: v.$black;
				z-index: -1;
				padding: 1rem;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				border-radius: 1rem 0 0 1rem;
			}
		}
	}

	&__link {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		background-color: v.$whiteGlass;
		text-transform: uppercase;
		text-decoration: none;
		color: v.$white;
		padding: 1rem 2rem;
		font-weight: 600;
		position: relative;
		font-size: 1.4rem;
		text-align: center;
		z-index: 1;
		transition: all 250ms ease-in;

		&:hover {
			color: v.$black;
		}

		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: v.$white;
			z-index: -1;
			transform: scaleX(0);
			transition: transform 250ms ease-in;
			transform-origin: left;
		}

		&:hover::before {
			transform: scaleX(1);
		}
	}
}
